USE [master]
GO
/****** Object:  Database [LBP_2]    Script Date: 25/02/2020 09:04:27 p.m. ******/
CREATE DATABASE [LBP_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LBP_2', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LBP_2.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LBP_2_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LBP_2_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LBP_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LBP_2]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 25/02/2020 09:04:27 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumnos](
	[id] [int] NULL,
	[nombre] [char](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DonacionesIndividuales]    Script Date: 25/02/2020 09:04:27 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DonacionesIndividuales](
	[Donador_id] [int] NOT NULL,
	[NombreD] [varchar](50) NOT NULL,
	[PrimerApellidoD] [varchar](50) NOT NULL,
	[SegundoApellidoD] [varchar](50) NOT NULL,
	[NombreCompletoD]  AS (((([NombreD]+' ')+[PrimerApellidoD])+' ')+[SegundoApellidoD]),
	[NumeroDeDonaciones] [int] NOT NULL,
	[BIRTHDAYDon] [datetime] NOT NULL,
	[EdadD]  AS (datediff(year,[BIRTHDAYDon],getdate()))
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DonacionesInstitucion]    Script Date: 25/02/2020 09:04:27 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DonacionesInstitucion](
	[DonadorI_id] [int] NOT NULL,
	[NombreI] [varchar](50) NOT NULL,
	[NumeroDeDonacionesInstitucion] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 25/02/2020 09:04:27 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empleados](
	[Empleado_id] [int] NOT NULL,
	[Ocupacion] [varchar](50) NOT NULL,
	[NombreE] [varchar](50) NOT NULL,
	[PrimerApellidoE] [varchar](50) NOT NULL,
	[SegundoApellidoE] [varchar](50) NOT NULL,
	[NombreCompletoE]  AS (((([NombreE]+' ')+[PrimerApellidoE])+' ')+[SegundoApellidoE]),
	[Sueldo] [money] NOT NULL,
	[FechaDeNacimientoE] [datetime] NOT NULL,
	[EdadE]  AS (datediff(year,[FechaDeNacimientoE],getdate())),
PRIMARY KEY CLUSTERED 
(
	[Empleado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Estante]    Script Date: 25/02/2020 09:04:27 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estante](
	[Estante_id] [int] NOT NULL,
	[Area] [varchar](50) NOT NULL,
	[Materia] [varchar](50) NOT NULL,
	[Capacidad] [int] NOT NULL,
	[Seccion]  AS (((([Estante_id]+' ')+[Area])+'Capacidad')+[Capacidad]),
PRIMARY KEY CLUSTERED 
(
	[Estante_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 25/02/2020 09:04:27 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[Usuario_id] [int] NOT NULL,
	[Matricula] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[PrimerApellido] [varchar](50) NOT NULL,
	[SegundoApellido] [varchar](50) NOT NULL,
	[NombreCompleto]  AS (((([Nombre]+' ')+[PrimerApellido])+' ')+[SegundoApellido]),
	[Deuda] [money] NOT NULL,
	[FechaDeNacimiento] [datetime] NOT NULL,
	[Edad]  AS (datediff(year,[FechaDeNacimiento],getdate())),
PRIMARY KEY CLUSTERED 
(
	[Usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [indx_BIRTHDAYDon]    Script Date: 25/02/2020 09:04:27 p.m. ******/
CREATE NONCLUSTERED INDEX [indx_BIRTHDAYDon] ON [dbo].[DonacionesIndividuales]
(
	[BIRTHDAYDon] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [indx_FechaDeNacimientoE]    Script Date: 25/02/2020 09:04:27 p.m. ******/
CREATE NONCLUSTERED INDEX [indx_FechaDeNacimientoE] ON [dbo].[Empleados]
(
	[FechaDeNacimientoE] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
/****** Object:  Index [indx_Seccion]    Script Date: 25/02/2020 09:04:27 p.m. ******/
CREATE NONCLUSTERED INDEX [indx_Seccion] ON [dbo].[Estante]
(
	[Seccion] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [indx_FechaDeNacimiento]    Script Date: 25/02/2020 09:04:27 p.m. ******/
CREATE NONCLUSTERED INDEX [indx_FechaDeNacimiento] ON [dbo].[Usuario]
(
	[FechaDeNacimiento] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
